/* Full Document */

:root {
    --primary: #58595B;
    --secondary: #A7A9AC;
    --text: #F7941D;
    --highlight: #DF6400;
}

body{
    background-color: var(--secondary)
}

/* Header */

header {
    background-color: var(--primary);
    display: flex;
    padding: 25px;
}

header h1 {
    color: var(--text);
    font-family: Copperplate, Monaco, Arial;
    font-size: 50px;
}

header h1::after {
    content: " Fullstack Developer";
    font-size: 20px;
    font-family: Monaco, Copperplate, Arial;
}

/* Nav Bar*/

.nav-bar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: block;
    padding: 5px;
    width: 33.333333%;
    font-size: 20px;
    margin-bottom: 2px;
    background-color: var(--primary);
}

.nav-bar li a {
    color: var(--text);
    font-family: copperplate, Monaco, Arial;
}

.nav-bar li:hover, .nav-bar li a:hover {
    color: var(--secondary);
    background-color: var(--highlight);
}

/* Grid and Main Content */

.grid {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
}
/* Footer */

footer {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer img {
    width: 75px;
    height: 75px;
}

footer p {
    color: var(--text);
    font-family: Monaco, Copperplate, Arial;
    font-size: 15px;
}