/* Full Document */

:root {
    --primary: #58595B;
    --secondary: #A7A9AC;
    --text: #F7941D;
    --highlight: #DF6400;
}

body{
    background-color: var(--secondary)
}

/* Header */

header {
    background-color: var(--primary);
    display: flex;
    padding: 25px;
}

header h1 {
    color: var(--text);
    font-family: Copperplate, Monaco, Arial;
    font-size: 50px;
}

header h1::after {
    content: " Fullstack Developer";
    font-size: 25px;
    font-family: Monaco, Copperplate, Arial;
}

/* Nav Bar*/

.nav-bar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: block;
    padding: 5px;
    width: 33.333333%;
    font-size: 25px;
    background-color: var(--primary);
}

.nav-bar li a {
    color: var(--text);
    font-family: copperplate, Monaco, Arial;
}

.nav-bar li:hover, .nav-bar li a:hover {
    color: var(--secondary);
    background-color: var(--highlight);
}

/* Grid and Main Content */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: solid 3px var(--text);
}

.title-left {
    color: var(--text);
   background-color: var(--primary);
    grid-column-start: 1;
    border-right: solid 3px var(--text);
    font-family: copperplate, monaco, arial;
    font-size: 25px;
}

.portrait {
    height: 75%px;
    width: 50%;
    margin: 20%;
    border: 2px solid;
}

h3 {
    color: var(--text);
    background-color: var(--primary);
    justify-items: center;
    border-bottom: solid 3px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: monaco, copperplate, arial; 
    font-size: 100%;
}

p {
    font-family: arial, helvetica, 'Times New Roman';
    font-size: 16px;
    text-align: justify;
    padding: 8px; 
    text-justify: inter-word;
}

.about-life, .project-1, .number {
    grid-column-start: 2;
    border-right: solid 3px var(--text);
}

.about-education, .project-2, .email {
    grid-column-start: 3;
    border-right: solid 3px var(--text);
}

.about-web, .project-3, .github {
    grid-column-start 4;
}

/* Footer */

footer {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer img {
    width: 75px;
    height: 75px;
}

footer p {
    color: var(--text);
    font-family: Monaco, Copperplate, Arial;
    font-size: 15px;
}