/* Full Document */

:root {
    --primary: #58595B;
    --secondary: #A7A9AC;
    --text: #F7941D;
    --highlight: #DF6400;
}

p {
    font-family: arial, helvetica, 'Times New Roman';
    font-size: 16px;
    text-align: justify;
    padding: 8px; 
    text-justify: inter-word;
}

/* Header */

header {
    background-color: var(--primary);
    display: flex;
    padding: 25px;
}

header h1 {
    color: var(--text);
    font-family: Copperplate, Monaco, Arial;
    font-size: 50px;
}

header h1::after {
    content: " Fullstack Developer";
    font-size: 25px;
    font-family: Monaco, Copperplate, Arial;
}

/* Nav Bar*/

.nav-bar {
    display: flex;
}

.nav-bar li {
    padding: 10px;
    width: 33.333333%;
    font-size: 25px;
    background-color: var(--primary);
}

.nav-bar li a {
    color: var(--text);
    font-family: copperplate, Monaco, Arial;
}

.nav-bar li:hover, .nav-bar li a:hover {
    color: var(--secondary);
    background-color: var(--highlight);
}

/* Banner */

#hero {
   display: flex;
    max-height: 250px;
    min-height: 250px;
    background: url(https://as1.ftcdn.net/v2/jpg/01/23/49/78/1000_F_123497809_XnG4OqaKGnmCmicN2Oimte8qIOHzzzrN.jpg);
    object-fit: cover;
    background-repeat: repeat;
    justify-content: end;
}

#hero img {
    min-height: 75%;
    min-width: 15%;
    max-height: 75%;
    max-width: 200px;
    border: solid 3px var(--primary);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    flex-shrink: 0;
}

#hero h2 {
    font-family: monaco, copperplate, arial;
    font-size: 25px;
    color: var(--text);
    background-color: var(--primary);
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

/* Titles on the Left */

.container {
    display: flex;
    background-color: var(--primary);
}

.title {
    min-width: 30%;
}

.container h2 {
    color: var(--text);
    border-right: solid 3px var(--text);
    font-family: copperplate, monaco, arial;
    font-size: 25px;
    padding: 10px;
    margin-top: 25px;
    text-align: end;
    justify-content: end;
    display: flex;
    flex-wrap: wrap;
}

/* About Me */
.about-life {
    padding: 5px;
    background-color: var(--secondary);
}

/* Grid of Projects */

.grid {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary);
}

.spotlight {
    margin: 1%;
    border: solid 3px var(--primary);
}
.project-1 {
    flex: 2 1 23%;
}

.project-2 {
    flex: 2 2 23%;
}

.project-3 {
    flex: 2 3 23%;
}
.project-1, .project-2, .project-3 {
    margin: 1%;
    border: 3px solid var(--primary);
}

.spotlight img {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.project-1 img, .project-2 img, .project-3 img {
    height: 100%;
    width: 100%;
}
.spotlight ul {
    position: relative;;
    display: flex;
    bottom: 5%;
 }

.project-1 ul, .project-2 ul, .project-3 ul {
   position: relative;;
   display: flex;
   bottom: 12%;
}

.project-1 li, .project-2 li, .project-3 li, .spotlight li {
    background-color: var(--secondary);
    padding: 5px;
    border: solid 3px var(--primary);
    width: 100%;
    text-align: center;
}

/* Contact */

.contact {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--secondary);
    justify-content: space-around;
}

.contact a {
    color: black;
    text-decoration: underline var(--text) 3px;
}

.contact p:hover, .contact p a:hover {
    background-color: var(--highlight);
    color: var(--secondary);
    text-decoration: underline var(--primary) 3px;
}

/* Footer */

footer {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

footer img {
    width: 75px;
    height: 75px;
}

footer p {
    color: var(--text);
    font-family: Monaco, Copperplate, Arial;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .spotlight ul{
        bottom: 10%;
    }
     .project-1 ul, .project-2 ul, .project-3 ul {
        bottom: 15%;
    }
}

@media screen and (min-width: 1000px) {

    .title {
        min-width: 15%;
    }
}